.git
.gitignore
.gitattributes
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db
*.log
venv
.venv/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
node_modules/
.env
.hadolint.yaml
README.md
Dockerfile
docker-compose.yml
compose.yaml
.idea/
.vscode/
attachments/
tests/
docs/
